doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Hello World
    style(type='text/css').
      * {
      margin: 0;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      box-sizing: border-box;
      font-size: 14px;
      }
      p {
        opacity: 0.8
      }
      img {
      max-width: 100%;
      }
      body {
      -webkit-font-smoothing: antialiased;
      -webkit-text-size-adjust: none;
      width: 100% !important;
      height: 100%;
      line-height: 1.6em;
      /* 1.6em * 14px = 22.4px, use px to get airier line-height also in Thunderbird, and Yahoo!, Outlook.com, AOL webmail clients */
      /*line-height: 22px;*/
      }
      /* Let's make sure all tables have defaults */
      table td {
      vertical-align: top;
      }
      /* -------------------------------------
      BODY & CONTAINER
      ------------------------------------- */
      body {
      background-color: #f6fafb;
      }
      .body-wrap {
      background-color: #f6fafb;
      width: 100%;
      }
      .container {
      display: block !important;
      max-width: 600px !important;
      margin: 0 auto !important;
      /* makes it centered */
      clear: both !important;
      }
      .content {
      max-width: 600px;
      margin: 0 auto;
      display: block;
      padding: 20px 40px;
      }
      /* -------------------------------------
      HEADER, FOOTER, MAIN
      ------------------------------------- */
      .main {
      background-color: #fff;
      border-radius: 10px;
      }
      .content-wrap {
      padding: 20px 35px;
      }
      .content-block {
      padding: 0 0 20px;
      }
      .header {
      width: 100%;
      margin-bottom: 20px;
      }
      .footer {
      width: 100%;
      clear: both;
      color: #999;
      padding: 20px;
      }
      .footer p, .footer a, .footer td {
      color: #999;
      font-size: 12px;
      }
      /* -------------------------------------
      TYPOGRAPHY
      ------------------------------------- */
      h1, h2, h3 {
      font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      color: #000;
      margin: 40px 0 0;
      line-height: 1.2em;
      font-weight: 600;
      }
      h1 {
      font-size: 32px;
      font-weight: 500;
      /* 1.2em * 32px = 38.4px, use px to get airier line-height also in Thunderbird, and Yahoo!, Outlook.com, AOL webmail clients */
      /*line-height: 38px;*/
      }
      h2 {
      font-size: 24px;
      /* 1.2em * 24px = 28.8px, use px to get airier line-height also in Thunderbird, and Yahoo!, Outlook.com, AOL webmail clients */
      /*line-height: 29px;*/
      }
      h3 {
      font-size: 18px;
      /* 1.2em * 18px = 21.6px, use px to get airier line-height also in Thunderbird, and Yahoo!, Outlook.com, AOL webmail clients */
      /*line-height: 22px;*/
      }
      h4 {
      font-size: 14px;
      font-weight: 600;
      }
      p, ul, ol {
      margin-bottom: 10px;
      font-weight: normal;
      }
      p li, ul li, ol li {
      margin-left: 5px;
      list-style-position: inside;
      }
      /* -------------------------------------
      LINKS & BUTTONS
      ------------------------------------- */
      a {
      color: #248181;
      text-decoration: underline;
      }
      .btn-primary {
      text-decoration: none;
      color: #FFF;
      background-color: #248181;
      border: solid #248181;
      border-width: 10px 20px;
      line-height: 2em;
      /* 2em * 14px = 28px, use px to get airier line-height also in Thunderbird, and Yahoo!, Outlook.com, AOL webmail clients */
      /*line-height: 28px;*/
      font-weight: bold;
      text-align: center;
      cursor: pointer;
      display: inline-block;
      border-radius: 5px;
      text-transform: capitalize;
      }
      /* -------------------------------------
      OTHER STYLES THAT MIGHT BE USEFUL
      ------------------------------------- */
      .last {
      margin-bottom: 0;
      }
      .first {
      margin-top: 0;
      }
      .aligncenter {
      text-align: center;
      }
      .alignright {
      text-align: right;
      }
      .alignleft {
      text-align: left;
      }
      .clear {
      clear: both;
      }
      /* -------------------------------------
      ALERTS
      Change the class depending on warning email, good email or bad email
      ------------------------------------- */
      .alert {
      font-size: 16px;
      color: #fff;
      font-weight: 500;
      padding: 20px;
      text-align: center;
      border-radius: 3px 3px 0 0;
      }
      .alert a {
      color: #fff;
      text-decoration: none;
      font-weight: 500;
      font-size: 16px;
      }
      .alert.alert-warning {
      background-color: #FF9F00;
      }
      .alert.alert-bad {
      background-color: #D0021B;
      }
      .alert.alert-good {
      background-color: #68B90F;
      }
      /* -------------------------------------
      INVOICE
      Styles for the billing table
      ------------------------------------- */
      .invoice {
      margin: 40px auto;
      text-align: left;
      width: 80%;
      }
      .invoice td {
      padding: 5px 0;
      }
      .invoice .invoice-items {
      width: 100%;
      }
      .invoice .invoice-items td {
      border-top: #eee 1px solid;
      }
      .invoice .invoice-items .total td {
      border-top: 2px solid #333;
      border-bottom: 2px solid #333;
      font-weight: 700;
      }
      /* -------------------------------------
      RESPONSIVE AND MOBILE FRIENDLY STYLES
      ------------------------------------- */
      @media only screen and (max-width: 640px) {
      body {
      padding: 0 !important;
      }
      h1, h2, h3, h4 {
      font-weight: 800 !important;
      margin: 20px 0 5px !important;
      }
      h1 {
      font-size: 22px !important;
      }
      h2 {
      font-size: 18px !important;
      }
      h3 {
      font-size: 16px !important;
      }
      .container {
      padding: 0 !important;
      width: 100% !important;
      }
      .content {
      padding: 0 5px!important;
      }
      .content-wrap {
      padding: 10px !important;
      }
      .invoice {
      width: 100% !important;
      }
      }
      /*# sourceMappingURL=styles.css.map */
  body(itemscope='', itemtype='http://schema.org/EmailMessage')
    div.aligncenter.content-wrap
      <svg width="200" height="50" viewBox="0 0 952 233" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M284.289 152.342C278.858 152.342 273.586 151.671 268.474 150.329C263.362 148.987 259.208 147.198 256.013 144.961L262.243 130.967C265.247 132.948 268.729 134.545 272.691 135.759C276.653 136.974 280.551 137.581 284.385 137.581C291.67 137.581 295.313 135.759 295.313 132.117C295.313 130.2 294.258 128.794 292.149 127.899C290.105 126.941 286.782 125.95 282.181 124.928C277.132 123.842 272.915 122.691 269.528 121.477C266.141 120.199 263.234 118.186 260.806 115.439C258.377 112.691 257.163 108.985 257.163 104.32C257.163 100.23 258.281 96.5556 260.518 93.2966C262.755 89.9737 266.077 87.3538 270.487 85.4367C274.96 83.5197 280.423 82.5611 286.877 82.5611C291.287 82.5611 295.632 83.0723 299.913 84.0948C304.195 85.0533 307.965 86.4911 311.224 88.4081L305.377 102.498C298.987 99.0478 292.788 97.3225 286.782 97.3225C283.011 97.3225 280.264 97.8976 278.538 99.0478C276.813 100.134 275.95 101.572 275.95 103.361C275.95 105.15 276.973 106.492 279.018 107.387C281.062 108.282 284.353 109.208 288.89 110.167C294.003 111.253 298.22 112.435 301.543 113.713C304.93 114.927 307.837 116.908 310.266 119.656C312.758 122.34 314.004 126.014 314.004 130.679C314.004 134.705 312.886 138.347 310.649 141.606C308.412 144.865 305.058 147.485 300.584 149.466C296.111 151.383 290.68 152.342 284.289 152.342ZM354.594 98.1851C359.322 98.1851 363.604 99.3034 367.438 101.54C371.336 103.713 374.403 106.844 376.64 110.934C378.94 114.959 380.091 119.656 380.091 125.024C380.091 130.392 378.94 135.12 376.64 139.21C374.403 143.236 371.336 146.367 367.438 148.604C363.604 150.776 359.322 151.863 354.594 151.863C348.523 151.863 343.698 150.041 340.12 146.399V169.595H321.908V99.0478H339.257V104.224C342.644 100.198 347.756 98.1851 354.594 98.1851ZM350.76 137.389C353.955 137.389 356.575 136.303 358.62 134.13C360.664 131.893 361.687 128.858 361.687 125.024C361.687 121.19 360.664 118.186 358.62 116.014C356.575 113.777 353.955 112.659 350.76 112.659C347.565 112.659 344.945 113.777 342.9 116.014C340.855 118.186 339.832 121.19 339.832 125.024C339.832 128.858 340.855 131.893 342.9 134.13C344.945 136.303 347.565 137.389 350.76 137.389ZM409.574 98.1851C418.201 98.1851 424.783 100.166 429.32 104.128C433.857 108.026 436.125 114.033 436.125 122.148V151H419.16V144.29C416.54 149.339 411.427 151.863 403.823 151.863C399.797 151.863 396.315 151.16 393.375 149.754C390.436 148.348 388.199 146.463 386.665 144.099C385.196 141.67 384.461 138.923 384.461 135.855C384.461 130.935 386.346 127.133 390.116 124.449C393.886 121.701 399.701 120.327 407.561 120.327H417.913C417.594 114.832 413.92 112.084 406.89 112.084C404.398 112.084 401.874 112.499 399.318 113.33C396.762 114.097 394.589 115.183 392.8 116.589L386.665 104.224C389.541 102.307 393.024 100.837 397.113 99.8146C401.267 98.7283 405.421 98.1851 409.574 98.1851ZM408.903 140.36C411.012 140.36 412.865 139.849 414.463 138.827C416.06 137.804 417.211 136.303 417.913 134.322V129.817H410.054C404.75 129.817 402.098 131.574 402.098 135.088C402.098 136.686 402.705 137.964 403.919 138.923C405.133 139.881 406.795 140.36 408.903 140.36ZM474.921 151.863C469.17 151.863 464.026 150.712 459.489 148.412C454.952 146.112 451.405 142.916 448.849 138.827C446.357 134.737 445.111 130.104 445.111 124.928C445.111 119.752 446.357 115.151 448.849 111.125C451.405 107.036 454.952 103.872 459.489 101.636C464.026 99.3354 469.17 98.1851 474.921 98.1851C480.8 98.1851 485.88 99.4632 490.162 102.019C494.443 104.511 497.478 107.994 499.268 112.467L485.177 119.656C482.813 114.991 479.362 112.659 474.825 112.659C471.566 112.659 468.85 113.745 466.678 115.918C464.569 118.091 463.515 121.094 463.515 124.928C463.515 128.826 464.569 131.893 466.678 134.13C468.85 136.303 471.566 137.389 474.825 137.389C479.362 137.389 482.813 135.056 485.177 130.392L499.268 137.581C497.478 142.054 494.443 145.568 490.162 148.124C485.88 150.617 480.8 151.863 474.921 151.863ZM558.666 125.12C558.666 125.248 558.57 126.749 558.378 129.625H520.612C521.379 132.309 522.849 134.386 525.021 135.855C527.258 137.261 530.038 137.964 533.361 137.964C535.853 137.964 537.994 137.613 539.783 136.91C541.636 136.207 543.489 135.056 545.342 133.459L554.928 143.428C549.879 149.051 542.499 151.863 532.786 151.863C526.715 151.863 521.379 150.712 516.778 148.412C512.177 146.112 508.599 142.916 506.043 138.827C503.55 134.737 502.304 130.104 502.304 124.928C502.304 119.816 503.518 115.247 505.947 111.221C508.439 107.131 511.858 103.936 516.203 101.636C520.548 99.3354 525.437 98.1851 530.868 98.1851C536.045 98.1851 540.741 99.2715 544.959 101.444C549.176 103.553 552.499 106.652 554.928 110.742C557.42 114.768 558.666 119.56 558.666 125.12ZM530.964 111.125C528.153 111.125 525.788 111.924 523.871 113.522C522.018 115.119 520.836 117.292 520.325 120.04H541.604C541.093 117.292 539.879 115.119 537.962 113.522C536.108 111.924 533.776 111.125 530.964 111.125ZM601.282 151.959C594.508 151.959 588.374 150.489 582.878 147.549C577.447 144.546 573.165 140.424 570.034 135.184C566.967 129.944 565.433 124.033 565.433 117.452C565.433 110.87 566.999 104.959 570.13 99.7188C573.261 94.4788 577.542 90.3891 582.974 87.4496C588.47 84.4462 594.604 82.9445 601.378 82.9445C606.873 82.9445 611.89 83.9031 616.427 85.8201C620.964 87.7372 624.798 90.5169 627.929 94.1593L619.877 101.732C615.021 96.4917 609.046 93.8718 601.953 93.8718C597.352 93.8718 593.23 94.8942 589.588 96.939C585.946 98.92 583.102 101.7 581.057 105.278C579.012 108.857 577.99 112.915 577.99 117.452C577.99 121.989 579.012 126.046 581.057 129.625C583.102 133.203 585.946 136.015 589.588 138.06C593.23 140.041 597.352 141.031 601.953 141.031C609.046 141.031 615.021 138.379 619.877 133.076L627.929 140.744C624.798 144.386 620.932 147.166 616.331 149.083C611.794 151 606.778 151.959 601.282 151.959ZM659.851 151.671C654.675 151.671 650.01 150.553 645.857 148.316C641.703 146.08 638.444 142.98 636.08 139.018C633.779 134.993 632.629 130.456 632.629 125.407C632.629 120.359 633.779 115.854 636.08 111.892C638.444 107.93 641.703 104.831 645.857 102.594C650.01 100.358 654.675 99.2395 659.851 99.2395C665.091 99.2395 669.788 100.358 673.941 102.594C678.095 104.831 681.322 107.93 683.623 111.892C685.987 115.854 687.169 120.359 687.169 125.407C687.169 130.456 685.987 134.993 683.623 139.018C681.322 142.98 678.095 146.08 673.941 148.316C669.788 150.553 665.091 151.671 659.851 151.671ZM659.851 141.415C664.26 141.415 667.903 139.945 670.778 137.005C673.654 134.066 675.092 130.2 675.092 125.407C675.092 120.615 673.654 116.749 670.778 113.809C667.903 110.87 664.26 109.4 659.851 109.4C655.442 109.4 651.799 110.87 648.924 113.809C646.112 116.749 644.706 120.615 644.706 125.407C644.706 130.2 646.112 134.066 648.924 137.005C651.799 139.945 655.442 141.415 659.851 141.415ZM727.67 99.2395C734.124 99.2395 739.3 101.125 743.198 104.895C747.096 108.665 749.045 114.256 749.045 121.669V151H737.063V123.203C737.063 118.73 736.009 115.375 733.9 113.138C731.792 110.838 728.788 109.687 724.89 109.687C720.481 109.687 716.998 111.029 714.442 113.713C711.886 116.333 710.608 120.135 710.608 125.12V151H698.626V99.8146H710.033V106.428C712.014 104.064 714.506 102.275 717.509 101.061C720.513 99.8466 723.9 99.2395 727.67 99.2395ZM795.013 148.22C793.607 149.371 791.882 150.233 789.837 150.808C787.856 151.383 785.747 151.671 783.511 151.671C777.887 151.671 773.542 150.201 770.475 147.262C767.408 144.322 765.874 140.041 765.874 134.417V109.783H757.439V100.198H765.874V88.504H777.856V100.198H791.562V109.783H777.856V134.13C777.856 136.622 778.463 138.539 779.677 139.881C780.891 141.159 782.648 141.798 784.949 141.798C787.633 141.798 789.869 141.095 791.658 139.689L795.013 148.22ZM816.276 107.291C819.727 101.923 825.797 99.2395 834.488 99.2395V110.646C833.466 110.454 832.539 110.358 831.708 110.358C827.044 110.358 823.401 111.732 820.781 114.48C818.161 117.164 816.851 121.062 816.851 126.174V151H804.87V99.8146H816.276V107.291ZM867.189 151.671C862.013 151.671 857.348 150.553 853.194 148.316C849.041 146.08 845.782 142.98 843.417 139.018C841.117 134.993 839.967 130.456 839.967 125.407C839.967 120.359 841.117 115.854 843.417 111.892C845.782 107.93 849.041 104.831 853.194 102.594C857.348 100.358 862.013 99.2395 867.189 99.2395C872.429 99.2395 877.126 100.358 881.279 102.594C885.433 104.831 888.66 107.93 890.96 111.892C893.325 115.854 894.507 120.359 894.507 125.407C894.507 130.456 893.325 134.993 890.96 139.018C888.66 142.98 885.433 146.08 881.279 148.316C877.126 150.553 872.429 151.671 867.189 151.671ZM867.189 141.415C871.598 141.415 875.24 139.945 878.116 137.005C880.992 134.066 882.429 130.2 882.429 125.407C882.429 120.615 880.992 116.749 878.116 113.809C875.24 110.87 871.598 109.4 867.189 109.4C862.78 109.4 859.137 110.87 856.262 113.809C853.45 116.749 852.044 120.615 852.044 125.407C852.044 130.2 853.45 134.066 856.262 137.005C859.137 139.945 862.78 141.415 867.189 141.415ZM905.964 79.8772H917.946V151H905.964V79.8772Z" fill="#212121"/>
        <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="-1" y="-1" width="235" height="235">
        <path d="M179.5 41L124 106.5L137.5 118.5L197 48.5L232.5 159.5L182 203.5L142.5 134L115.5 124.5L156 192.5L159.5 203.5L124 233L0.5 106.5L124 0.5L179.5 41Z" fill="#963333" stroke="black"/>
        </mask>
        <g mask="url(#mask0)">
        <circle cx="124.351" cy="117.49" r="71.8402" transform="rotate(3.65279 124.351 117.49)" stroke="black" stroke-width="17.1048"/>
        <path d="M196.045 122.067C193.518 161.662 159.37 191.712 119.774 189.184C80.1785 186.656 50.1291 152.509 52.6569 112.913C55.1846 73.3172 89.3324 43.2678 128.928 45.7955C168.524 48.3233 198.573 82.4711 196.045 122.067Z" stroke="#248181" stroke-width="17.1048"/>
        <circle cx="124.141" cy="117.251" r="51.3232" transform="rotate(3.65279 124.141 117.251)" stroke="#4A9494" stroke-width="25.6397"/>
        <path d="M160.943 169.718L147.092 148.119C165.423 134.478 169.415 106.688 149.862 88.4317L167.344 69.7393C201.438 100.665 190.253 149.983 160.943 169.718Z" fill="#154949"/>
        </g>
      </svg>
    table.body-wrap
      tbody
        tr
          td.container(width='600')
            .content
              table.main(width='100%', cellpadding='0', cellspacing='0', itemprop='action', itemscope='', itemtype='http://schema.org/ConfirmAction')
                tbody
                  tr
                    td.content-wrap
                      meta(itemprop='name', content='')
                      table(width='100%', cellpadding='0', cellspacing='0')
                        tbody
                          tr
                            td
                              h2.content-block.aligncenter.
                                ¡Bienvenido #{fname} #{lname}!
                              br
                              p.aligncenter.
                                Acabas de crear una cuenta en <b>SpaceControl</b> y necesitamos validar tu correo electrónico.
                              br
                              p.aligncenter.
                                Haz click en el siguiente botón para confirmar para acceder a tu cuenta...
                              br
                          tr
                            td.aligncenter.content-block
                              <a href="#{url_redirect}" class="btn-primary">Confirmar Cuenta</a>
              .footer
                table(width='100%')
                  tbody
                    tr
                      td.aligncenter.content-block.
                        Si usted no ha solicitado esto, por favor, ignore este mensaje.
                    tr
                      td.aligncenter.content-block.
                        | https://www.space-control.io